@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@500&display=swap');

body{
        font-family: 'IBM Plex Sans Thai Looped', sans-serif;
        background : url(https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) no-repeat ;
        background-size  : cover ; 

}


header{

        text-align : center ; 
        background-color : #3382FF ;
          


}

.nav{
        list-style-type : none ; 
}

.nav-1{
        display : inline-block ;
        font-size : 14px ;
        padding-left : 6px ;


}

@media only screen and (min-width: 100px) and (max-width: 768px){

.image{
        width :  20vw ;
        height : 10vh ;
       border-radius : 50vh  ;  

}

}

@media only screen and (min-width: 768px) and (max-width: 961px){

.image{
        width :  20vw ;
        height : 20vh ;
       border-radius : 50vh  ;  

}

}

@media only screen and (min-width: 961px) and (max-width: 1290px){

.image{
        width :  15vw ;
        height : 20vh ;
        border-radius : 80vh ;
         

}

}




@media only screen and (min-width: 1291px) and (max-width: 1650px){

.image{
        width :  20vw ;
        height : 30vh ;
        border-radius : 80vh ;
         

}

}

@media only screen and (min-width: 1650px) and (max-width : 2000px){

.image{
        width :  15vw ;
        height : 30vh ;
        border-radius : 80vh ;
         

}

}




.image-1{
        width :  20vw ;
        height : 20vh ;
        padding-left : 5vw ; 



}

.section{
        width : 100% ; 
        height : 100% ; 
        margin-bottom : 10vh ; 

}

.p1{
        font-size :   2vh ; 
        margin-bottom : 20vh ; 

}

.p2{
       font-size : 2vh ; 
}

.download{
        margin-left :  1px ;

}


